.idea/

### Gradle ###
.gradle/
build/
.idea/modules/io-client/build/
.idea/modules/io-server/build/
io-client/build/
io-server/build/

common/build/
netty-client/build/
netty-server/build/

# OSX
.DS_Store