<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <properties>
        <property name="filename">output.log</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="File" fileName="${filename}" bufferedIO="true" immediateFlush="true">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="File" level="info" />
            <AppenderRef ref="File" level="error" />
            <AppenderRef ref="Console" level="trace" />
        </Root>
    </Loggers>

</Configuration>